<app-topbar></app-topbar>
<div class="row justify-content-md-center pt-4">
    <!--<div *ngFor="let minion of minions" class="card col-sm-3" style="width: 18rem;">
        <img class="card-img-top" src="{{minion.img}}" style="height: 50%;">
        <div class="card-body">
            <h5 class="card-title rounded img-thumbnail"><b>{{minion.name}}</b></h5>
            <p class="card-text">{{minion.bio}}
                <br>
                <b>Nacimiento:</b> {{minion.birth}}
                <br>
                <b>Lado:</b> {{minion.side}}
            </p>
        </div>
    </div>-->
</div>